/* common */
body{color:#333;font-family:'Nanum Gothic',sans-serif;font-size:16px;font-weight:400;line-height:1.4}
img{display:block}
a{text-decoration:none}
.inner{position:relative;width:1100px;margin:0 auto}
.btn{display:block;width:130px;padding:10px;border:2px solid #333;border-radius:4px;color:#333;font-size:16px;font-weight:700;text-align:center;cursor:pointer;box-sizing:border-box;transition:0.4s}
.btn:hover{background-color:#333;color:#fff}
.btn.btn--reverse{background-color:#333;color:#fff}
.btn.btn--reverse:hover{background-color:transparent;color:#333}
.btn.btn--brown{color:#592B18;border-color:#592B18}
.btn.btn--brown:hover{color:#fff;background-color:#592B18}
.btn.btn--gold{color:#D9AA8A;border-color:#D9AA8A}
.btn.btn--gold:hover{color:#fff;background-color:#D9AA8A}
.btn.btn--white{color:#FFF;border-color:#FFF}
.btn.btn--white:hover{color:#333;background-color:#FFF}

/* header */
.header{position:fixed;top:0;width:100%;background-color:#f6f5f0;border-bottom:1px solid #c8c8c8;z-index:11}
.header > .inner{height:120px}
.header .logo{position:absolute;top:0;bottom:0;left:0;margin:auto;height:75px}
.header .sub-menu{display:flex;position:absolute;top:10px;right:0}
.header .sub-menu ul.menu{display:flex;font-family:Arial,sans-serif}
.header .sub-menu ul.menu li{position:relative}
.header .sub-menu ul.menu li:before{position:absolute;top:0;bottom:0;width:1px;height:12px;margin:auto;background-color:#e5e5e5;content:''}
.header .sub-menu ul.menu li:first-child::before{display:none}
.header .sub-menu ul.menu li a{display:block;padding:11px 16px;color:#656565;font-size:12px}
.header .sub-menu ul.menu li a:hover{color:#000}
.header .sub-menu .search{position:relative;height:34px;cursor:pointer}
.header .sub-menu .search input{width:36px;height:34px;padding:4px 10px;border:1px solid #ccc;box-sizing:border-box;border-radius:5px;outline:none;background-color:#fff;color:#777;transition:width 0.4s;}
.header .sub-menu .search input:focus{width:190px;border-color:#669900}
.header .sub-menu .search .material-icons{position:absolute;top:0;bottom:0;height:24px;margin:auto;right:5px}
.header .sub-menu .search.focused .material-icons{opacity:0;transition:0.4s}
.header .main-menu{display:flex;position:absolute;bottom:0;right:0;z-index:1}
.header .main-menu .item{}
.header .main-menu .item .item__name{padding:10px 20px 34px 20px;font-family:Arial,Helvetica,sans-serif;font-size:13px}
.header .main-menu .item:hover .item__name{background-color:#2c2a29;color:#669900;border-top-left-radius:6px;border-top-right-radius:6px;}
.header .main-menu .item .item__contents{position:fixed;left:0;width:100%;display:none}
.header .main-menu .item:hover .item__contents{display:block}
.header .main-menu .item .item__contents .contents__menu{background-color:#2c2a29}
.header .main-menu .item .item__contents .contents__menu > ul {display:flex;padding:20px 0}
.header .main-menu .item .item__contents .contents__menu > ul > li{width:220px}
.header .main-menu .item .item__contents .contents__menu > ul > li h4{padding:3px 0 12px 0;font-size:14px;color:#fff}
.header .main-menu .item .item__contents .contents__menu > ul > li ul li{padding:5px 0;font-size:12px;color:#999;cursor:pointer}
.header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover{color:#669900}
.header .main-menu .item .item__contents .contents__texture{background:url(../images/main_menu_pattern.jpg);padding:26px 0;font-size:12px}
.header .main-menu .item .item__contents .contents__texture h4{color:#999;font-weight:700}
.header .main-menu .item .item__contents .contents__texture p{color:#669900;margin:4px 0 14px}
.header .badges{position:absolute;top:132px;right:12px}
.header .badges .badge{border-radius:10px;overflow:hidden;margin-bottom:12px;box-shadow:4px 4px 10px rgba(0,0,0,0.15);cursor:pointer}

/* footer */
.footer{background-color:#272727;border-top:1px solid #333}
.footer .inner{padding:40px 0 60px}
.footer .menu{display:flex;justify-content:center;}
.footer .menu li{position:relative}
.footer .menu li::before{position:absolute;top:0;bottom:0;right:-1px;width:3px;height:3px;margin:auto;background-color:#555;content:''}
.footer .menu li:last-child::before{display:none}
.footer .menu li a{display:block;padding:15px;color:#ccc;font-size:12px;font-weight:700}
.footer .menu li a.green{color:#669900}
.footer .btn-group{display:flex;justify-content:center;margin-top:20px}
.footer .btn-group .btn{margin-right:10px;font-size:12px}
.footer .btn-group .btn:last-child{margin-right:0}
.footer .info{margin-top:30px;text-align:center}
.footer .info span{margin-right:20px;color:#999;font-size:12px}
.footer .info span:last-child{margin-right:0}
.footer .copyright{margin-top:12px;text-align:center;font-size:12px;color:#999}
.footer .logo{margin:30px auto 0}